@import "tailwindcss";

@theme {
  --font-family-body: 'Be Vietnam Pro', sans-serif;
  --font-family-heading: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
} 
html {
    overflow-x: hidden;
} 
@theme {
  --breakpoint-2xl: 1232px;
} 
@layer base {
  .container {
    max-width: 1232px;
  }
}
